django==1.7.7
pillow
mongoengine==0.9.0
redis
requests
celery
#djcelery
simplejson==3.6.5
demjson==2.2.2
git+https://github.com/waenwj/django-aliyun-oss.git
pymongo==2.8
# bug:https://github.com/MongoEngine/mongoengine/issues/935
git+https://github.com/tzangms/django-bootstrap-form
fabric
xlrd
jieba
django-bootstrap-pagination==1.5.1
pypinyin
supervisor
raven
django-cors-headers==1.1.0
python-dateutil
django-celery
git+https://github.com/lxneng/alipay.git
SOAP
rq
unicodecsv

